<div class='container m-2 p-3 mx-auto w-50 trans shadow'>
    <p class='text-center'>Here you can find all information about SpaceX launches
        <br/>Click <a href='/launches'>Upcoming Events</a> to start!</p>
</div>